body {
  margin: 0;
  font-family: Arial, sans-serif;
}

#container {
  display: flex;
  height: 100vh;
}

#map {
  width: 70%;
}

#sidebar {
  width: 30%;
  padding: 20px;
  background: white;
  overflow-y: auto;
}

#sidebar input, #sidebar select {
  width: 100%;
  padding: 8px;
  margin: 10px 0 20px 0;
  border-radius: 4px;
  border: 1px solid #ccc;
}

#searchBtn {
  width: 100%;
  padding: 10px;
  background: #1E90FF;
  color: white;
  border: none;
  border-radius: 4px;
  margin-bottom: 20px;
  cursor: pointer;
}

#results {
  margin-top: 20px;
}

#verdictBox {
  margin-top: 30px;
  padding: 15px;
  background: #f1f1f1;
  border-radius: 6px;
}

#verdictBox h3 {
  margin-top: 0;
}
